html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #050c42;
  font-size: 15px;
  line-height: 18.35px;
  font-family: "Formular", sans-serif;
}

a {
  color: #050c42;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 1680px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-content {
  width: 1680px;
  margin: 0 auto;
  padding: 0 192px 0 193px;
}

.slider1__track {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.slider1__item {
  display: flex;
  flex-direction: column;
  min-width: 445px;
  height: 250px;
  margin-right: 65px;
}

.slider1__item-title {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-left: 32px;
  margin-bottom: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.slider1__item-link {
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: 32px;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.slider1__button-left, .slider1__button-right {
  border: none;
  border-radius: 50%;
  opacity: 0.8;
  outline: none;
  padding: 0px;
  width: 64px;
  height: 64px;
  top: 40%;
  position: absolute;
}

.slider1__button-left:hover, .slider1__button-right:hover {
  opacity: 1;
}

.slider1__button-left {
  left: 0px;
}

.slider1__button-right {
  right: 0px;
}

.slider2__track {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.slider2__item {
  display: flex;
  flex-direction: column;
  min-width: 445px;
  height: 250px;
  margin-right: 65px;
}

.slider2__item-title {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-left: 32px;
  margin-bottom: auto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.slider2__item-link {
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: 32px;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #13b17c;
}

.slider2__button-left, .slider2__button-right {
  border: none;
  opacity: 0.8;
  outline: none;
  background: none;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  top: 115px;
  position: absolute;
}

.slider2__button-left:hover, .slider2__button-right:hover {
  opacity: 1;
}

.slider2__button-left {
  left: 0px;
}

.slider2__button-right {
  right: 0px;
}

.slider3__track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}

.slider3__item {
  width: fit-content;
  height: fit-content;
}

.slider3__card {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}

.slider3__button-left, .slider3__button-right {
  border: none;
  opacity: 0.8;
  outline: none;
  background: none;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  top: 415px;
  position: absolute;
}

.slider3__button-left:hover, .slider3__button-right:hover {
  opacity: 1;
}

.slider3__button-left {
  left: 0px;
}

.slider3__button-right {
  right: 0px;
}

.card {
  width: 275px;
  height: 345px;
  position: relative;
}

.card__img {
  width: 275px;
  height: 205px;
  border-radius: 23px;
  margin-bottom: 18px;
}

.card__like-btn {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 16px;
  right: 17px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
}

.card__like-btn:hover {
  transform: scale(1.3);
}

.card__time-wrapper {
  height: 17px;
  position: absolute;
  left: 14px;
  top: 175px;
  display: flex;
  flex-direction: row;
}

.card__time-img {
  margin-right: 5px;
}

.card__time-text {
  color: white;
  font-size: 12px;
  line-height: 15px;
}

.card__price {
  width: 120px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  color: black;
  margin-right: 12px;
  position: relative;
}

.card__price-wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.card__price--down::after, .card__price--up::after {
  content: "";
  display: block;
  width: 11px;
  height: 5px;
  position: absolute;
  top: 5px;
  right: 13px;
}

.card__price--up::after {
  background-image: url("../assets/img/svg/card-price--up.svg");
}

.card__price--down::after {
  background-image: url("../assets/img/svg/card-price--down.svg");
}

.card__price--sold {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #99a6b6;
}

.card__subprice {
  display: block;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  color: #99a6b6;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.card__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 4px;
  color: #050c42;
}

.card__description--sold {
  text-decoration: line-through;
}

.card__info {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: #99a6b6;
}

.card--promo {
  width: fit-content;
  height: fit-content;
  background-image: url("../assets/img/card--promo.png");
  background-size: cover;
}

.card--promo:hover {
  outline: 4px dashed cadetblue;
  outline-offset: -4px;
}

.card--new::before {
  content: "";
  display: block;
  width: 57px;
  height: 41px;
  position: absolute;
  top: 13px;
  left: 14px;
  background-image: url("../assets/img/svg/card--new.svg");
}

.card--best-price::before {
  content: "";
  display: block;
  width: 61px;
  height: 41px;
  position: absolute;
  top: 13px;
  left: 14px;
  background-image: url("../assets/img/svg/card--best-price.svg");
}

.header {
  background-color: #ebf1f5;
}

.navigation {
  padding-top: 17px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14.68px;
}

.navigation__list {
  display: flex;
  width: 100%;
}

.navigation__item {
  margin-right: 25px;
  width: fit-content;
}

.navigation__item--how-to-use {
  display: block;
  margin-left: auto;
  margin-right: 0px;
}

.navigation__item-link {
  outline: none;
}

.navigation__item-link--how-to-use {
  color: #13b17c;
}

.menu {
  display: flex;
  flex-direction: row;
  padding-bottom: 43px;
}

.menu__logo {
  margin-right: 48px;
}

.menu__search {
  display: flex;
  flex-direction: row;
  width: 956px;
  height: 60px;
  background-color: white;
  border-radius: 21px;
  padding: 20px 19px 20px 22px;
  margin-right: 54px;
}

.menu__search-category-select {
  display: block;
  width: 100px;
  height: 18px;
  color: #13b17c;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.35px;
  border: none;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: url("../assets/img/svg/search__select.svg") 22px 14px no-repeat;
  background-position: right;
}

.menu__search-category-select-wrapper {
  width: 100px;
  height: 18px;
  position: relative;
  margin-right: 20px;
}

.menu__search-category-option {
  color: #13b17c;
  border: none;
  font-size: 15px;
  line-height: 18.35px;
  font-weight: 500;
}

.menu__search-text {
  width: 350px;
  padding-left: 18px;
  border: none;
  outline: none;
}

.menu__search-text::placeholder {
  color: #d1dae5;
  font-size: 15px;
  line-height: 18px;
}

.menu__search-text-wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.menu__search-text-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 37px;
  background-color: #d1dae5;
  left: 0px;
  top: -5px;
}

.menu__search-btn {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px;
}

.menu__search-btn-wrapper {
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.menu__search-btn-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  background-image: url("../assets/img/svg/search-btn.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
}

.menu__icons {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.menu__icon {
  margin-right: 78px;
  position: relative;
  height: fit-content;
  font-weight: 700;
}

.menu__icon-link {
  outline: none;
}

.menu__icon-text {
  position: absolute;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

.menu__icon--profile .menu__icon-text {
  bottom: -19px;
  left: -13px;
}

.menu__icon--liked .menu__icon-link {
  position: relative;
}

.menu__icon--liked .menu__icon-text {
  bottom: -19px;
  left: -15px;
}

.menu__icon--search-liked {
  margin-right: 81px;
}

.menu__icon--search-liked .menu__icon-text {
  bottom: -35px;
  left: -30px;
}

.menu__icon--notifications {
  margin-right: 35px;
}

.menu__icon--notifications .menu__icon-text {
  bottom: -19px;
  left: -27px;
}

.menu__icon--liked-likes {
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  color: white;
  text-align: center;
  background-color: #fc5555;
  border-radius: 5px;
  width: 19px;
  height: 14px;
  top: -19px;
  right: -9px;
}

.promo {
  padding-bottom: 80px;
  background-color: #ebf1f5;
}

.promo__title {
  display: block;
  width: fit-content;
  font-size: 19px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 auto 32px;
}

.promo__title-accent {
  font-weight: 700;
}

.promo__slider-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.catalog {
  position: relative;
}

.catalog__bg {
  position: absolute;
  background-color: #ebf1f5;
  width: 100%;
  height: 254px;
  z-index: -1;
}

.catalog .categories {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  padding-bottom: 80px;
}

.catalog .categories__icon {
  width: 105px;
  margin-right: 65px;
  height: fit-content;
  border: none;
  outline: none;
  background: none;
  opacity: 0.8;
}

.catalog .categories__icon[data-active="active"] {
  transform: scale(1.15);
  opacity: 1;
}

.catalog .categories__icon:hover {
  opacity: 1;
}

.catalog .categories__icon:disabled:hover {
  opacity: 0.8;
}

.catalog .categories__icon-img {
  margin-bottom: 19px;
}

.catalog .categories__icon-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.catalog .categories__icon:last-child {
  margin-right: 0px;
}

.catalog__main {
  width: 1295px;
  height: 755px;
  margin-bottom: 55px;
}

.catalog__main-all-cards-category {
  display: none;
}

.catalog__main-category-content {
  flex-direction: column;
  flex-wrap: wrap;
  width: inherit;
  height: inherit;
  display: none;
}

.catalog__main-category-content[data-active="active"] {
  display: flex;
}

.catalog__main-category-content-block {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: inherit;
  max-height: inherit;
  text-align: left;
  display: none;
}

.catalog__main-category-content-block[data-active="active"] {
  display: flex;
}

.catalog__card {
  margin-right: 65px;
  margin-bottom: 65px;
}

.catalog__card:nth-child(4n) {
  margin-right: 0px;
}

.catalog__buttons {
  width: 1295px;
  height: 0;
  position: relative;
}

.catalog__btn-left, .catalog__btn-right, .catalog__btn-change {
  border: none;
  background-color: white;
  outline: none;
  padding: 0;
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.catalog__btn-right {
  top: -480px;
  right: -95px;
}

.catalog__btn-right:hover {
  top: -485px;
}

.catalog__btn-right:disabled:hover {
  top: -480px;
}

.catalog__btn-left {
  top: -480px;
  left: -95px;
}

.catalog__btn-left:hover {
  top: -485px;
}

.catalog__btn-left:disabled:hover {
  top: -480px;
}

.catalog__btn-change {
  top: -745px;
  right: -105px;
  border-radius: 50%;
}

.catalog__btn-change:hover {
  top: -750px;
}

.catalog__go-to {
  display: block;
  width: 275px;
  height: 57px;
  color: white;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  background-color: #13b17c;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 17px;
  outline: none;
}

.catalog__go-to:hover {
  transform: scale(1.15);
}

.catalog::after {
  content: "";
  display: block;
  width: 1680px;
  height: 7px;
  background-color: #ebf1f5;
  margin: 0 auto;
}

.variety {
  padding-top: 80px;
  padding-bottom: 80px;
}

.variety-wrapper {
  display: flex;
  flex-direction: row;
}

.variety__variants-column {
  margin-right: 30px;
  min-width: 275px;
  display: flex;
  flex-direction: column;
}

.variety__variants-hight-level-btn {
  background-color: white;
  border: none;
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
}

.variety__variants-hight-level-btn:hover {
  transform: translateX(-5px);
}

.variety__variants-hight-level-btn:focus:hover {
  transform: none;
}

.variety__variants-low-level {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.variety__variants-low-level-item {
  margin-bottom: 25px;
}

.variety__variants-low-level-item-input {
  margin: 0;
  border: 3px solid black;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.variety__variants-low-level-item-input + label::before {
  content: "";
  visibility: hidden;
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 35%;
  left: -15px;
  border-radius: 50%;
  background-color: #13b17c;
}

.variety__variants-low-level-item-input:checked + label::before {
  visibility: visible;
}

.variety__variants-low-level-item-input:not(:disabled):active + label::before {
  visibility: visible;
}

.variety__variants-low-level-item-input:not(:checked) + label::before {
  visibility: hidden;
}

.variety__variants-low-level-item-label {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}

.variety__variants-low-level-item-label::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 35%;
  left: -15px;
  border-radius: 50%;
  background-color: #13b17c;
}

.variety__variants-low-level-item-label:hover {
  color: #000;
}

.variety__sliders-column {
  width: fit-content;
  height: fit-content;
  padding: 0 37px;
  position: relative;
}

.variety__slider2-wrapper {
  width: 955px;
  height: 250px;
  margin-bottom: 65px;
  overflow: hidden;
}

.variety__slider3-wrapper {
  width: 955px;
  height: 345px;
  margin-bottom: 65px;
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: "Formular", sans-serif;
  src: url(../fonts/Formular.ttf);
  font-style: normal;
  font-weight: normal;
}
