//reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//main
// html {
//   overflow-x: hidden;
//   margin-right: calc(-1 * (100vw - 100%));
// }

body {
  color: #050c42;
  font-size: 15px;
  line-height: 18.35px;
  font-family: "Formular", sans-serif;
  background-color: #ebf1f5;

  width: 100vw;
}

a {
  color: #050c42;
  text-decoration: none;
}

a,
select,
button,
input {
  outline: none;
}

.hidden {
  display: none;
}

.container {
  display: block;
  max-width: 1680px;
  width: 100vw;
  margin: 0 auto;
}

//blocks
.slider {
  //slider1
  &1 {
    &__track {
      display: flex;
      flex-direction: row;

      width: fit-content;
    }

    &__item {
      display: flex;
      flex-direction: column;

      min-width: 445px;
      height: 250px;
      margin-right: 65px;

      &-title {
        display: block;
        width: fit-content;
        height: fit-content;
        margin-top: 30px;
        margin-left: 32px;
        margin-bottom: auto;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
      }

      &-link {
        width: fit-content;
        height: fit-content;
        display: block;
        margin-left: 32px;
        margin-bottom: 35px;

        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    &__button {
      &-left,
      &-right {
        border: none;
        border-radius: 50%;
        opacity: 0.8;
        outline: none;

        padding: 0px;
        width: 64px;
        height: 64px;

        top: 40%;
        position: absolute;
        &:hover {
          opacity: 1;
        }
      }
      &-left {
        left: 1.785%;
      }
      &-right {
        right: 1.785%;
      }
    }
  }

  //slider2
  &2 {
    &__track {
      display: flex;
      flex-direction: row;

      width: fit-content;
    }

    &__item {
      display: flex;
      flex-direction: column;

      min-width: 445px;
      height: 250px;
      margin-right: 65px;
      &-title {
        display: block;
        width: fit-content;
        height: fit-content;
        margin-top: 30px;
        margin-left: 32px;
        margin-bottom: auto;

        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      &-link {
        width: fit-content;
        height: fit-content;
        display: block;
        margin-left: 32px;
        margin-bottom: 35px;

        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #13b17c;
      }
    }

    &__button {
      &-left,
      &-right {
        border: none;
        opacity: 0.5;
        background: none;

        padding: 0px;
        width: 50px;
        height: 50px;

        top: 100px;
        position: absolute;

        transition: opacity 500ms ease-in-out 100ms;
        &:hover {
          opacity: 1;
          transition: opacity 500ms ease-in-out 100ms;
        }
      }
      &-left {
        left: -18px;

        // opacity: 1;
        // transition: opacity 500ms ease-in-out 100ms;
        // &:hover {
        //   opacity: 1;
        //   transition: opacity 500ms ease-in-out 100ms;
        // }
        // &-img {
        //   transition: fill 500ms ease-in-out 100ms;
        // }
        // &:hover &-img {
        //   fill: #fc5555;
        //   transition: fill 500ms ease-in-out 100ms;
        // }
        // &-img {
        //   stroke-dasharray: 140 540;
        //   stroke-dashoffset: -474;
        //   stroke-width: 8px;
        //   fill: transparent;
        //   stroke: #19f6e8;
        //   transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;

        // }
        // &:hover &-img {
        //   stroke-width: 2px;
        //   stroke-dashoffset: 0;
        //   stroke-dasharray: 760;
        // }
      }
      &-right {
        right: -18px;
      }
    }
  }

  //slider3
  &3 {
    &__track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      width: fit-content;
    }

    &__item {
      width: fit-content;
      height: fit-content;
    }

    &__card {
      display: flex;
      flex-direction: column;

      margin-right: 65px;
    }

    &__button {
      &-left,
      &-right {
        border: none;
        opacity: 0.5;
        background: none;

        padding: 0px;
        width: 50px;
        height: 50px;

        top: 400px;
        position: absolute;
        transition: opacity 500ms ease-in-out 100ms;

        &:hover {
          opacity: 1;
          transition: opacity 500ms ease-in-out 100ms;
        }
      }

      &-left {
        left: -18px;
      }

      &-right {
        right: -18px;
      }
    }
  }
}

.card {
  width: 275px;
  height: 345px;
  position: relative;

  &__img {
    width: 275px;
    height: 205px;
    border-radius: 23px;
    margin-bottom: 18px;
  }

  &__like-btn {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 16px;
    right: 17px;
    background-color: rgba($color: #fff, $alpha: 0);
    border: none;
    &:hover {
      transform: scale(1.3);
    }
  }

  //card__time
  &__time {
    &-wrapper {
      height: 17px;
      position: absolute;
      left: 14px;
      top: 175px;
      display: flex;
      flex-direction: row;
    }
    &-img {
      margin-right: 5px;
    }
    &-text {
      color: white;
      font-size: 12px;
      line-height: 15px;
    }
  }

  //card__price
  &__price {
    width: 120px;
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    color: black;
    margin-right: 12px;

    position: relative;
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: fit-content;
    }

    &--down::after,
    &--up::after {
      content: "";
      display: block;
      width: 11px;
      height: 5px;

      position: absolute;
      top: 5px;
      right: 13px;
    }

    &--up::after {
      background-image: url("../assets/img/svg/card-price--up.svg");
    }

    &--down::after {
      background-image: url("../assets/img/svg/card-price--down.svg");
    }

    &--sold {
      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      color: #99a6b6;
    }
  }

  &__subprice {
    display: block;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;

    color: #99a6b6;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  //card__description
  &__description {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;

    margin-bottom: 4px;
    color: #050c42;
    &--sold {
      text-decoration: line-through;
    }
  }

  //card__info
  &__info {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #99a6b6;
  }

  //cards' variaty
  &--promo {
    max-width: 275px;
    max-height: 345px;
    // background-image: url("../assets/img/card--promo.png");
    background-size: cover;

    .card-img--promo {
      width: 275px;
      height: 345px;
    }

    &:hover {
      outline: 4px dashed cadetblue;
      outline-offset: -4px;
    }
  }

  &--new::before {
    content: "";
    display: block;
    width: 57px;
    height: 41px;
    position: absolute;
    top: 13px;
    left: 14px;
    background-image: url("../assets/img/svg/card--new.svg");
  }

  &--best-price::before {
    content: "";
    display: block;
    width: 61px;
    height: 41px;
    position: absolute;
    top: 13px;
    left: 14px;
    background-image: url("../assets/img/svg/card--best-price.svg");
  }
}

// sections
.navigation {
  display: block;

  font-weight: bold;
  font-size: 12px;
  line-height: 14.68px;

  margin-top: 17px;
  margin-bottom: 20px;

  &-wrapper {
    margin: 0 1.78571428571%;
    display: flex;

    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // margin-right: 450px;
    margin-right: 43.5714285714%;
    max-width: 715px;
  }
  &__item {
    margin-right: 25px;
    width: fit-content;

    margin-bottom: 10px;
    &:last-child {
      margin-right: 0;
    }
    &--how-to-use {
      display: block;
      margin-left: auto;
      width: fit-content;

      line-height: 19px;
      text-align: right;
    }

    &-link--how-to-use {
      color: #13b17c;
    }
  }
}

.menu {
  margin-bottom: 45px;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 1.78571428571%;
    margin-right: 3.22580645%;

    background-color: #ebf1f5;
  }
  //logo
  &__logo {
    margin-right: 2.97619047619%;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    &-img {
      max-width: 190px;
      max-height: 52.16px;
    }
  }

  //search
  &__search {
    display: flex;
    flex-direction: row;

    height: 60px;
    min-width: 530px;
    width: 56.9047619048%;
    padding: 20px 19px 20px 22px;
    margin-right: 2.38095%;

    border-radius: 21px;
    background-color: white;

    &-category {
      &-select {
        display: block;
        width: 100px;
        height: 18px;
        color: #13b17c;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.35px;
        border: none;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("../assets/img/svg/search__select.svg") 22px 14px
          no-repeat;
        background-position: right;

        &-wrapper {
          width: 100px;
          height: 18px;
          position: relative;
          margin-right: 20px;
        }
      }

      &-option {
        color: #13b17c;
        border: none;
        font-size: 15px;
        line-height: 18.35px;
        font-weight: 500;
      }
    }

    &-text {
      width: inherit;
      padding-left: 18px;
      border: none;

      &::placeholder {
        color: #d1dae5;
        font-size: 15px;
        line-height: 18px;
      }
    }

    &-text-wrapper {
      width: 95%;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 37px;
        background-color: #d1dae5;
        left: 0px;
        top: -5px;
      }
    }

    &-btn {
      width: 20px;
      height: 20px;

      background-color: white;
      border: 1px;
      &-wrapper {
        position: relative;
        display: block;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        &::before {
          content: " ";
          display: block;
          position: absolute;
          z-index: 5;
          background-image: url("../assets/img/svg/search-btn.svg");
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          top: 0px;
          right: 0px;
        }
      }
    }
  }

  //icons
  &__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 10px;
    width: 22.8571428571%;

    &-break {
      width: 0;
    }
  }

  &__icon {
    margin-bottom: 35px;
    width: 32px;

    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    &::after {
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      position: absolute;
    }

    &-img {
      display: block;
      margin: 0 auto;
      margin-bottom: 7px;
    }

    &--profile {
      &::after {
        content: "Профиль";
        left: -13px;
      }
      &-img {
        width: 26px;
        height: 26px;
        margin-bottom: 13px;
      }
    }

    &--liked {
      &::after {
        content: "Избранное";
        left: -13px;
      }
      &-img {
        width: 32px;
        height: 32px;
      }
    }

    &--search-liked {
      &::after {
        content: "Сохраненные поиски";
        left: -23px;
      }
      &-img {
        width: 26px;
        height: 26px;
        margin-bottom: 13px;
      }
    }

    &--notifications {
      &::after {
        content: "Уведомления";
        left: -23px;
      }
      &-img {
        width: 20px;
        height: 26px;
      }
    }

    &--liked-likes {
      display: block;
      position: absolute;

      font-size: 12px;
      line-height: 14px;
      color: white;
      text-align: center;
      background-color: #fc5555;
      border-radius: 5px;
      width: 19px;
      height: 14px;
      top: -5px;
      right: -8px;
    }
  }
}

.promo {
  margin-bottom: 65px;

  &__title {
    display: block;
    width: fit-content;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin: 0 auto 32px;

    &-accent {
      font-weight: 700;
    }
  }

  &__slider-wrapper {
    width: 100%;
    height: 250px;

    overflow: hidden;
    position: relative;
  }
}

.catalog {
  &__main {
    &-wrapper {
      background-color: white;

      padding: 80px 0;

      position: relative;
      // overflow-x: hidden;
      // overflow-y: scroll !important;
    }
  }

  &__card {
    // margin-right: 5.019305%;
    margin-bottom: 65px;

    &:nth-child(4n) {
      margin-right: 0px;
    }
  }

  &__buttons {
    max-width: 100%;
  }

  &__btn {
    &-left,
    &-right,
    &-change {
      border: none;
      background-color: white;
      padding: 0;
      line-height: 0;

      width: fit-content;
      height: fit-content;
      border-radius: 50%;

      position: absolute;

      opacity: 0.5;
      transition: opacity 500ms ease-in-out 100ms;
      &:hover {
        opacity: 1;
      }

      &:disabled {
        visibility: hidden;
      }
    }

    &-right {
      top: 40%;
      right: 5.654%;
      &-img {
        width: 64px;
        height: 64px;
      }
    }

    &-left {
      top: 40%;
      left: 5.654%;

      &-img {
        width: 64px;
        height: 64px;
      }
    }

    &-change {
      top: 13.658%;
      right: 4.464%;

      &-img {
        width: 75px;
        height: 75px;
      }
    }
  }

  &__go-to {
    display: block;
    width: 275px;
    height: 57px;

    color: white;
    font-size: 17px;
    line-height: 23px;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    background-color: #13b17c;

    margin: 0 auto;
    padding-top: 17px;

    &:hover {
      transform: scale(1.15);
    }
  }

  &::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 7px;
    background-color: #ebf1f5;
  }
}

.variety {
  margin-bottom: 30px;

  &-wrapper {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    padding: 4.761% 11.309%;
    background-color: white;
  }
  &__variants {
    &-column {
      margin-right: 1.61290322581%;
      min-width: 275px;

      display: flex;
      flex-direction: column;
    }
    &-hight-level {
      &-btn {
        background-color: white;
        border: none;
        margin-bottom: 19px;

        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

        &:hover {
          transform: translateX(-5px);
        }

        &:checked:hover {
          transform: none;
        }
      }
    }
    &-low-level {
      display: flex;
      flex-direction: column;

      padding-left: 25px;
      &-item {
        margin-bottom: 19px;

        &-input {
          margin: 0;
          border: 3px solid black;
          position: absolute;
          z-index: -1;
          opacity: 0;

          & + label::before {
            content: "";
            visibility: hidden;

            display: block;
            width: 6px;
            height: 6px;

            position: absolute;
            top: 35%;
            left: -15px;

            border-radius: 50%;
            background-color: #13b17c;
          }
          &:checked + label::before {
            visibility: visible;
          }
          &:not(:disabled):active + label::before {
            visibility: visible;
          }
          &:not(:checked) + label::before {
            visibility: hidden;
          }
        }
        &-label {
          color: gray;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;

          position: relative;
          &::before {
            content: "";
            // visibility: hidden;

            display: block;
            width: 6px;
            height: 6px;

            position: absolute;
            top: 35%;
            left: -15px;

            border-radius: 50%;
            background-color: #13b17c;
          }
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  //sliders column
  &__sliders-column {
    max-width: 955px;
    width: 73.461%;
    height: fit-content;
    padding: 0 37px;

    position: relative;
  }

  &__slider2-wrapper {
    width: 100%;
    height: 250px;

    margin-bottom: 65px;
    overflow: hidden;
  }
  &__slider3-wrapper {
    width: 100%;
    height: 345px;

    overflow: hidden;
    position: relative;
  }
}

//subsections
.categories {
  margin-bottom: 75px;

  &__break {
    display: none;
    width: 0;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 11.4285714286%;
  }

  &__icon {
    // margin-right: 65px;
    width: 105px;
    height: fit-content;

    border: none;
    background: none;
    opacity: 0.8;

    &-img {
      height: 105px;
      width: 105px;
    }

    &[data-active="active"] {
      opacity: 1;
      transform: scale(1.15);
    }

    &:hover {
      opacity: 1;
    }

    &:disabled:hover {
      opacity: 0.8;
    }
    &-img {
      margin-bottom: 19px;
    }
    &-name {
      font-size: 15px;
      line-height: 18px;
      font-weight: 700;
      text-align: center;
      width: fit-content;
      display: block;
      margin: 0 auto;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.content {
  max-width: 1295px;
  margin: 0 auto;
  margin-bottom: -10px;
  // margin:0 11.4285714286%;
  // margin-bottom: -10px;

  &__all-cards-category {
    display: none;
  }

  &__break {
    width: 0;
  }

  &__category-block {
    // flex-direction: column;
    // flex-wrap: wrap;

    width: 100%;
    height: 100%;

    display: none;
    &[data-active="active"] {
      display: flex;
    }
  }

  &__content-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    // text-align: left;

    display: none;
    &[data-active="active"] {
      display: flex;
    }
  }
}

//font
@font-face {
  font-family: "Formular", sans-serif;
  src: url(../fonts/Formular.ttf);
  font-style: normal;
  font-weight: normal;
}

//  response
@media (max-width: 1920px) {
}

@media (max-width: 1675px) {
  .catalog__btn-right {
    top: unset;
    // bottom: 8%;
    bottom: 75px;
    right: 11.5%;
  }

  .catalog__btn-left {
    top: unset;
    // bottom: 8%;
    bottom: 75px;
    left: 11.5%;
  }

  .catalog__btn-change {
    top: 1.3%;
    right: 1.3%;
  }

  .catalog__btn-change-img {
    width: 4.3vw;
    height: 4.3vw;
  }
}

@media (max-width: 1440px) {
  .menu {
    &__icons-break--third {
      width: 100%;
    }
    &__icon--notifications {
      margin-left: auto;
    }
    &__search {
      margin-right: 4.5%;
    }
  }

  .categories {
    &-wrapper {
      justify-content: space-between;
    }

    &__icon {
      margin-bottom: 30px;
    }

    &__break--second {
      display: block;
      width: 100%;
    }
  }

  .content__content-block {
    justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  .navigation {
    &__list {
      flex-direction: column;
      max-height: 90px;
      margin-right: 35%;
    }
    &__item {
      margin-right: 35px;
      &--how-to-use {
        margin-right: 3%;
        text-align: left;
        // max-width: 70px;
      }
    }
  }

  .menu {
    &__search {
      margin-right: 3.5%;
    }
    &__icons {
      justify-content: space-around;
      &-break {
        &--second {
          width: 100%;
        }

        &--third {
          width: 0;
        }
      }
    }
    &__icon--notifications {
      margin-left: 0;
    }
  }

  .promo {
    &__title {
      padding: 0 70px;
      text-align: center;
      line-height: 40px;
      margin-bottom: 45px;
    }
  }

  .categories {
    &-wrapper {
      justify-content: space-between;
    }
  }

  .content {
    &__break--first,
    &__break--second,
    &__break--third {
      width: 100%;
    }
    &__content-block {
      justify-content: space-evenly;
    }
  }

  .catalog {
    &__card {
      margin-bottom: 35px;
    }
    &__btn-change {
      top: 25px;
      right: 5%;
    }
    &__btn-left {
      left: 23.75%;
    }
    &__btn-right {
      right: 23.75%;
    }
  }
}

@media (max-width: 992px) {
  .menu {
    &__icons {
      justify-content: space-evenly;
      width: 70%;
    }

    &-wrapper {
      flex-wrap: wrap;
      margin-right: 1.78571428571%;
    }

    &__icons-break--second {
      width: 0;
    }

    &__logo {
      margin-bottom: 35px;
      margin-right: 0;
    }

    &__search {
      width: 100%;
      order: 1;
    }
  }

  .slider1__button-left,
  .slider1__button-right {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation {
    &-wrapper {
      flex-wrap: wrap;
    }
    &__list {
      margin-right: 0;
      width: 100%;
      min-height: 65px;
      margin-bottom: 15px;
      flex-direction: row;
      justify-content: space-around;
    }
    &__item--how-to-use {
      // margin-right: 0;
      margin: 0 auto;
    }
  }

  .menu {
    &__search {
      min-width: 100%;
      justify-content: space-around;
    }

    &__icons {
      width: 100%;
      margin-bottom: 23px;
    }
  }

  .categories {
    &-wrapper {
      justify-content: space-around;
      margin: 0 5.5%;
    }

    &__break--first,
    &__break--third {
      display: block;
      width: 100%;
    }
  }
  .catalog {
    &__btn {
      &-left {
        bottom: 10px;
        left: 33%;
        display: none;
      }
      &-right {
        bottom: 10px;
        left: 45%;
        display: none;
      }
      &-change {
        top: unset;
        right: unset;
        bottom: 10px;
        left: 15px;
        &-img {
          width: 64px;
          height: 64px;
        }
      }
    }
    &__go-to {
      margin-bottom: 10px;
    }
    &__card:nth-child(2n) {
      // margin-left: 20px;
    }
  }
  .content__content-block {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {

}

//
//
//
//
//
//
//
@media (min-width: 1680px) and (max-width: 1920px) {
}

@media (min-width: 1440px) and (max-width: 1680px) {
}

@media (min-width: 1200px) and (max-width: 1440px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
